@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .dmButton{
        @apply 
        w-8 h-8
        bg-slate-600 
        rounded-3xl
        transition-all duration-200 ease-linear cursor-pointer

        hover:rounded-xl
        dark:bg-gray-700

    }
    
    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max right-12 rounded-md shadow-md
        text-white bg-gray-900 dark:bg-gray-600 text-xs font-bold transition-none
        sm:transition-transform sm:duration-300 sm:delay-150 sm:origin-right

        min-[1190px]:left-12 min-[1190px]:origin-left
  } 

    .boxRes{
        @apply
        min-w-[30px]
        max-w-[55px] /* PreKey = 60px */

        /* If under md, grow/shrink at 6%, otherwise stay 60px */
        wP-[6]
        md:w-[60px]
        
        after:content-['']
        after:block
        after:pb-full
    }

    .letterRes{
        @apply
        text-[1rem]
        md:text-[1.75rem] /* PreKey = 2rem */
    }
}

